<% layout("/layouts/boilerplate") %>

    <body>
        <h2 class="mt-3" style="text-align: center;"><b>Edit the Listing</b></h2>
        <div class="row">
            <div class="col">
                <form action="/listings/<%=listing._id%>?_method=PUT" method="post" novalidate
                    enctype="multipart/form-data" class=" needs-validation">
                    <div class="mb-3">
                        <label for="form-title" class="form-label">Title</label>
                        <input type="text" id="form-title" name="Listing[title]" class="form-control"
                            value="<%=listing.title%>" required>
                        <div class="valid-feedback">Title looks good</div>
                        <div class="invalid-feedback">Title should correct</div>
                    </div>
                    <div class="mb-3">
                        <label for="form-description" class="form-label">Description</label>
                        <textarea id="form-description" name="Listing[description]" class="form-control"
                            required><%=listing.description%></textarea>
                        <div class="invalid-feedback">Please enter short description</div>
                    </div>
                    <div class="mb-3">
                        Original Image <br>
                        <img src="<%= originalImageUrl %>" width="250px">
                    </div>
                    <div class="mb-3">
                        <label for="form-image" class="form-label">Upload New Image</label>
                        <input type="file" id="form-image" name="Listing[image]" class="form-control">
                    </div>
                    <div class="row"> 
                        <div class="mb-3 col-md-4">
                            <label for="form-price" class="form-label">Price</label>
                            <input type="number" name="Listing[price]" id="form-price" class="form-control"
                                value="<%=listing.price%>" required>
                            <div class="invalid-feedback">Price should be correct</div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="form-country" class="form-label">Country</label>
                            <input type="text" id="form-country" name="Listing[country]" class="form-control"
                                value="<%=listing.country%>" required>
                            <div class="invalid-feedback">Country name should be valid</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="form-location" class="form-label">Location</label>
                        <input type="text" id="form-location" name="Listing[location]" class="form-control"
                            value="<%=listing.location%>" required>
                        <div class="invalid-feedback">Location should be valid</div>
                    </div>
                    <button class="btn btn-dark mb-4">Edit</button>

                </form>
            </div>
        </div>
    </body>

    </html>