<% layout("/layouts/boilerplate") %>
       <style>
              #filters {
                     display: flex;
                     overflow-x: auto;
              }

              #filters::-webkit-scrollbar {
                     width: 0;
              }

              .filter {
                     text-decoration: none;
                     color: rgb(31, 30, 30);
                     margin-right: 2rem;
                     margin-top: 1.5rem;
                     margin-bottom: 1.5rem;
                     text-align: center;
                     white-space: nowrap;
                     opacity: 0.7;
              }

              .filter:hover {
                     opacity: 1;
              }
       </style>

       <body class="listing-page">
              <div id="filters">
                     <a href="/listings" class="filter">
                            <div><i class="fa-solid fa-globe"></i></div>
                            <p>All Listings</p>
                     </a>
                     <a href="/listings/category/Trending%20Now" class="filter">
                            <div><i class="fa-solid fa-fire"></i></div>
                            <p>Trending Now</p>
                     </a>
                     <a href="/listings/category/Beachfront" class="filter">
                            <div><i class="fa-solid fa-umbrella-beach"></i></div>
                            <p>Beachfront</p>
                     </a>
                     <a href="/listings/category/Lakefront" class="filter">
                            <div><i class="fas fa-water"></i></div>
                            <p>Lakefront</p>
                     </a>
                     <a href="/listings/category/Tiny%20Homes" class="filter">
                            <div><i class="fas fa-home"></i></div>
                            <p>Tiny Homes</p>
                     </a>
                     <a href="/listings/category/Luxury%20Villas" class="filter">
                            <div><i class="fa-solid fa-person-swimming"></i></div>
                            <p>Luxury Villas</p>
                     </a>
                     <a href="/listings/category/Private%20Rooms" class="filter">
                            <div><i class="fas fa-door-closed"></i></div>
                            <p>Private Rooms</p>
                     </a>
                     <a href="/listings/category/City%20Getaways" class="filter">
                            <div><i class="fa-solid fa-city"></i></div>
                            <p>City Getaways</p>
                     </a>
                     <a href="/listings/category/Scenic%20Views" class="filter">
                            <div><i class="fa-solid fa-street-view"></i></div>
                            <p>Scenic Views</p>
                     </a>
                     <a href="/listings/category/Farm%20Stays" class="filter">
                            <div><i class="fas fa-tractor"></i></div>
                            <p>Farm Stays</p>
                     </a>
                     <a href="/listings/category/WOW%20Homes" class="filter">
                            <div><i class="fas fa-chess-rook"></i> </div>
                            <p>WOW Homes</p>
                     </a>
                     <a href="/listings/category/Mountain%20Retreats" class="filter">
                            <div><i class="fas fa-mountain"></i></div>
                            <p>Mountain Retreats</p>
                     </a>
                     <a href="/listings/category/Camping%20%26%20Glamping" class="filter">
                            <div><i class="fas fa-campground"></i></div>
                            <p>Camping & Glamping</p>
                     </a>
                     <a href="/listings/category/Nature%20Escapes" class="filter">
                            <div><i class="fas fa-tree"></i></div>
                            <p>Nature Escapes</p>
                     </a>
                     <a href="/listings/category/Affordable%20Stays" class="filter">
                            <div><i class="fas fa-money-bill-wave"></i> </div>
                            <p>Affordable Stays</p>
                     </a>
                     <a href="/listings/category/Family%20Friendly" class="filter">
                            <div><i class="fa-solid fa-people-group"></i></div>
                            <p>Family Friendly</p>
                     </a>
                     <a href="/listings/category/Architectural%20Gems" class="filter">
                            <div><i class="fas fa-landmark"></i></div>
                            <p>Architectural Gems</p>
                     </a>
              </div>
              <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 wrap-List">
                     <% for(let listing of allListings){ %>
                            <a href="/listings/<%=listing._id%>" class="cardLink">
                                   <div class="card col" style="width: 22rem;">
                                          <img src="<%=listing.image.url%>" class="card-img-top" alt="Listing_image"
                                                 style="height: 20rem;">
                                          <div class="card-img-overlay"></div>
                                          <div class="card-body">
                                                 <p class="card-text">
                                                        <b>
                                                               <%=listing.title%>
                                                        </b> <br>
                                                        &#x20b9;<%= listing.price ?
                                                               listing.price.toLocaleString("en-IN")
                                                               : "Price not available" %>
                                                               <%=" /night"%>
                                                 </p>
                                          </div>
                                   </div>
                            </a>
                            <% } %>
              </div>
       </body>